.grid .content #map {
    background: none;
}
#map-list {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-block {
    position: absolute;
    bottom: 5px;
    z-index: 10;
    width: 100%;
}

.map-block button {
    background: var(--gen-white);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    border: 0;
    padding: 10px 0;
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    color: var(--my-gray);
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
    transition: .3s;
}

.map-block button:hover {
    background-color: var(--my-blue);
    color: var(--gen-white);
}

.map-objects-counter {
    display: none !important;
}

.hidden {
    display: none !important;
}

.del-folder .group-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.del-folder .group-btn button, .del-folder .group-btn .cancel {
    border: 0;
    border-radius: 44px;
    background-color: var(--my-blue);
    color: var(--gen-white);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    width: 156px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;
}

.new-obj .mediabox .right .previews .item .delete-link:after,
.new-obj .mediabox .right .previews .item .delete-link:before
{
    background-color: var(--gen-white);
}

.new-obj #flashMessage.success + form {
    display: none;
}
