.grid .content #map {
    background: none;
}
#map-list {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-block {
    position: absolute;
    bottom: 5px;
    z-index: 10;
    width: 100%;
}

.map-block button {
    background: var(--gen-white);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    border: 0;
    padding: 10px 0;
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    color: var(--my-gray);
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
    transition: .3s;
}

.map-block button:hover {
    background-color: var(--my-blue);
    color: var(--gen-white);
}

.map-objects-counter {
    display: none !important;
}

.hidden {
    display: none !important;
}

.del-folder .group-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.del-folder .group-btn button, .del-folder .group-btn .cancel {
    border: 0;
    border-radius: 44px;
    background-color: var(--my-blue);
    color: var(--gen-white);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    width: 156px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;
}

.new-obj .mediabox .right .previews .item .delete-link:after,
.new-obj .mediabox .right .previews .item .delete-link:before
{
    background-color: var(--gen-white);
}

.new-obj #flashMessage.success + form {
    display: none;
}

.pb-10 {
    padding-bottom: 10px;
}

.button-up {
    position: absolute;
    right: 266px;
    height: 100%;
}

.button-up button {
    position: fixed;
    bottom: 100px;
    display: none;
    border-radius: 50%;
    background-color: var(--my-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.ymaps-2-1-79-default-cluster {
    font-size: 11px !important;
}

.ymaps-2-1-79-balloon__content > ymaps {
    max-width: 300px !important;
}
.edit-folder .content {
    min-width: 470px;
}

.edit-folder form {
    width: 100%;
}

.edit-folder form input, .edit-folder form {
    width: 100%;
}

.edit-folder form button:disabled {
    color: var(--gen-white);
    background-color: var(--my-gray);
    cursor: auto;
}

.edit-folder form button {
    border-radius: 44px;
    border: 0;
    width: 204px;
    padding: 12px 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    background-color: var(--my-blue);
    color: var(--gen-white);
    cursor: pointer;
    display: block;
    margin: 40px auto 10px;
}

.login form input {
    padding-right: 45px;
}

.login form .btn-toggle-password {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 15px;
    cursor: pointer;
}
.login form .input.checkbox {
    margin-top: 10px;
}

.login form .input.checkbox input {
    display: none;
}

.login form .input.checkbox label {
    position: relative;
}

.login form .input.checkbox input:checked + label::before {
    content: '';
    width: 13px;
    height: 11px;
    position: absolute;
    top: 7px;
    left: -26px;
    background: url(../images/icon/checkbox.svg) center center / cover no-repeat;
    z-index: 1;
}

.login form .input.checkbox label:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 3px;
    width: 19px;
    height: 19px;
    background: var(--gen-white);
    border-radius: 4px;
    border: 1px solid black;
}

.login form .input.checkbox input:checked + label::after {
    background-color: var(--my-blue);
}

.new-obj .wrapper .tabs__categories{margin: 0;padding: 0;display: flex;}
.new-obj .wrapper .tabs__categories label{
    color: var(--my-gray);
    background-color: var(--my-light-gray);
    padding: 10px 20px;
    border-radius: 2px;
    list-style: none;
    cursor: pointer;
}
.new-obj .wrapper .tabs__categories label.active{
    background-color: rgba(82, 117, 142, 0.3);
    color: var(--my-black);
}
.new-obj .wrapper .tabs__categories label:not(:last-of-type){
    margin-right: 2px;
}
.new-obj .wrapper .tabs__categories label:first-of-type{
    border-radius: 56px 2px 2px 56px;
}
.new-obj .wrapper .tabs__categories label:last-of-type{
    border-radius: 2px 30px 30px 2px;
}
