</main>
<footer>
    <div class="wrap">
        <a href="#">Каталог</a>
        <a href="#">Ипотечный калькулятор</a>
        <a href="#">Политика конфиденциальности</a>
        <p>©  2022 real2u.ru</p>
        <a href="#">Кадастровая карта</a>
        <a href="#">Условия использования</a>
    </div>
</footer>
